.red{
color: red;
}

.bg-yellow{
    background-color: yellow;
}
#firstdiv{
   /* color: rgb(200, 208, 209);
    background-color: rgb(135, 81, 167);*/
}
#seconddiv{
    color: rgb(128, 227, 240);
    background-color: rgb(148, 9, 11);
}